<%- include('./partials/header') %>

<% for(product in products){ %>
    <p><%= products[product].price %></p>
<% } %>
<form action="/order" method="POST">
    
    <button>Submit</button>
</form>
<%- include('./partials/footer') %>