<%- include('./partials/header') %>

<% products.forEach(function(product){ %>
    <p><%= product.name %></p>
<% }) %>
<form action="/order" method="POST">
    
    <button>Submit</button>
</form>
<%- include('./partials/footer') %>