<%- include('../partials/header') %>
<div class="container">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
    <% } %>
</div>
<div class="container">
    <h1 style="text-align: center;">Place Order</h1>
    <div style="width:30%; margin: 25px auto">
        <form action="/checkout" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" placeholder="name">
            </div>
            <div class="form-group">
                <label for="address">Enter Address</label>
                <input class="form-control" type="text" name="address" placeholder="address">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Place Order</button>
            </div>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>